<div align="center" layout-align="center center">

    <p>You can upload your company logo here.
        <br>
        It will be visible in the top left corner of PDF invoice.
        <br>
        Max file size is 150kb.
    </p>

    <form method="POST" enctype="multipart/form-data" action="/data/uplad/img">
        <table>
            <tr>
                <!--<td>File to upload:</td>-->
                <!--<td><input type="file" name="file"/></td>-->
                <input type="file" name="file" accept="image/*"
                       onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </tr>
            <tr>
                <!--<td>Name:</td>
                <td><input type="text" name="name"/></td>-->
            </tr>
            <!--<tr>
                <td>
                    <input type="submit" value="Upload"/>
                </td>
            </tr>-->
        </table>
        <!--
                <md-button>Upload</md-button>
        -->
    </form>

    <div>
        <p>You can download your current image here:</p>
        <button type="button" class="btn btn-success" ng-click="downloadImage()">Download</button>
    </div>

</div>