<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invoice Writer home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="css/loginPage.css">
    <link rel="stylesheet" href="css/info.css">
    <link rel="stylesheet" href="css/mainApp.css">
</head>
<body ng-app="ngApp" ng-cloak="">

<!-- md toolbar -->
<md-toolbar ng-controller="toolbar-ctr">
    <div flex layout="row" class="md-toolbar-tools">
        <p><strong>Navigation:</strong></p>
        <md-button ng-click="mainView()">
            main view
        </md-button>
        <md-button ng-click="aboutAppFun()">
            About application
        </md-button>
        <md-button ng-click="aboutAuthorFun()">
            Author
        </md-button>
        <md-button ng-disabled="loginButtonEnabled" class="md-raised md-warn" ng-click="logout()">Logout</md-button>
    </div>
</md-toolbar>

<!-- HIDES AFRER LOGIN -->
<div ng-controller="register-login-ctr" ng-hide="hideRegisterLogin">


    <div class="login-register-forms" layout="row" layout-sm="column" layout-align="center center" layout-wrap>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Register new user</h1>
    </md-toolbar>
    <md-content layount-padding>
        <form>
            <md-input-container>
                <label for="firstname">Name</label>
                <input type="text" id="firstname" ng-model="user.firstname" md-autofocus>
            </md-input-container>
            <md-input-container>
                <label for="surname">Surname</label>
                <input type="text" id="surname" ng-model="user.surname">
            </md-input-container>
            <md-input-container>
                <label for="email">E-mail</label>
                <input type="email" id="email" ng-model="user.email">
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="user.password">
            </md-input-container>
            <md-input-container>
                <label for="repassword">Retype passwd</label>
                <input type="password" id="repassword" ng-model="user.repassword">
            </md-input-container>
            <br>
            <md-button class="md-primary" ng-click="registerFunction()">
                Submit
            </md-button>
            <md-button class="md-warn" ng-click="closeSidebar()">
                Cancel
            </md-button>
        </form>
    </md-content>

    <!--<p>{{ user | json }}</p>-->

</md-sidenav>


<form>
    <md-input-container>
        <label for="email1">E-mail</label>
        <input type="email" id="email1" ng-model="user.email" md-autofocus>
    </md-input-container>
    <br>
    <md-input-container>
        <label for="passwd1">Password</label>
        <input type="password" id="passwd1" ng-model="user.password">
    </md-input-container>
    <br>
    <md-button class="md-primary" ng-click="loginFunction()">
        Login
    </md-button>
    <md-button class="md-primary" ng-click="openSidebar()">
        Register
    </md-button>
</form>

</div>
</div>


<!--APPEARS AFTER LOGIN -->
<ui-view></ui-view>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- route provider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<!-- my -->
<script src="js/app.js"></script>

<script src="js/controllers/toolbar.ctr.js"></script>
<script src="js/controllers/register-login.ctr.js"></script>
<script src="js/controllers/mainapp.ctr.js"></script>
<script src="js/controllers/data.ctr.js"></script>

<script src="js/factories/app.factory.js"></script>
</body>
</html>