<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register your account here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body ng-app="ngApp" ng-controller="registerCtrl" ng-cloak>
<h1>Register new account</h1>

<input type="text" placeholder="name" ng-model="user.firstname"> <br>
<input type="text" placeholder="surname" ng-model="user.surname"> <br>
<input type="email" placeholder="e-mail" ng-model="user.email"> <br>
<input type="password" placeholder="password" ng-model="user.password"><br>
<input type="password" placeholder="retype password" ng-model="user.repassword"><br>
<br>
<md-button ng-click="registerFunction()">Register me</md-button>

<h2>{{ user | json }}</h2>

<p>{{message.text}}</p>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<!-- Your application bootstrap  -->

<!-- my -->
<script src="js/app.js"></script>
<script src="js/registerController.js"></script>
</body>
</html>