<!DOCTYPE html>
<html ng-app="registerApp">
<head>
    <title>Register your account here</title>
    <LINK rel="stylesheet" href="css/register.css" type="text/css">
</head>
<body ng-controller="register">
<h1>Register new account</h1>


<div ng-app="ngLocale">
        <form novalidate class="simple-form">
            First firstname: <input type="text" ng-model="user.firstName" required> <br>
            Surname firstname: <input type="text" ng-model="user.surname" required> <br>
            E-mail firstname: <input type="email" ng-model="user.email" required> <br>
            Passwword firstname: <input type="password" ng-model="user.password" required> <br>
            Repassword firstname: <input type="password" ng-model="user.repassword" required> <br> <br>
            <button ng-click="">Register</button>
        </form>
    </div>




<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/registerController.js"></script>
</body>
</html>