<div>
    <div align="center" layout-align="center center">
        <h class="page-header">Before use</h>
        <p class="info">This application was created for non-commercial, education purposes.
        <br>Do not store real personal information in it's database.
        <br>The app source code is available here:<br>
        </p>

        <!--<button ng-click="openInNewTab()" class="github-button">Follow @robson021</button>-->
        <a class="github-button" ng-click="openInNewTab()" data-style="mega" aria-label="GitHub">GitHub</a>
    </div>


</div>