<div>
    <!-- nav buttons -->
    <div layout="row" layout-align="space-around center">
        <md-button class="md-raised" ng-click="goSalesmen()">
            Salesmen
        </md-button>
        <md-button class="md-raised" ng-click="goContractors()">
            Contractors
        </md-button>
        <md-button class="md-raised" ng-click="goServices()">
            Services
        </md-button>
        <md-button class="md-raised" ng-click="goUpload()">
            Image upload
        </md-button>
    </div>

    <!--calendars-->
    <div flex layout="row" layout-align="center" style='padding: 60px;'>
        <md-content>
            <h4>Date of selling</h4>
            <md-datepicker ng-model="sellDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>

        <md-content>
            <h4>Date of deadline</h4>
            <md-datepicker ng-model="deadDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>

        <md-content>
            <h4>Date of exposure</h4>
            <md-datepicker ng-model="exposureDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>

    </div>

    <!--payment/time-->
    <div class="payment" layout="row" ng-cloak layout-align="center center">
        <md-input-container>
            <label for="formOfPayment">Form of payment</label>
            <input type="text" id="formOfPayment" ng-model="formOfPayment" md-autofocus>
        </md-input-container>
        <md-input-container>
            <label for="deadlineOfPayment">Deadline of payment (e.g. 21 days)</label>
            <input type="text" id="deadlineOfPayment" ng-model="deadlineOfPayment" md-autofocus>
        </md-input-container>

    </div>

    <!--selection-->
    <div class="md-padding" flex layout="row" layout-align="center" ng-cloack>
        <div layout="row">
        <div layout="row">
            <md-input-container>
                <label>Contractor</label>
                <md-select ng-model="contractor" md-selected-text="getSelectedC()">
                    <md-optgroup label="contractors">
                        <md-option ng-value="contractor" ng-repeat="contractor in contractors">
                            {{contractor.name}} {{contractor.surname}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>

            <div layout="row">
                <md-input-container>
                    <label>Salesman</label>
                    <md-select ng-model="salesman" md-selected-text="getSelectedS()">
                        <md-optgroup label="salesmen">
                            <md-option ng-value="salesman" ng-repeat="salesman in salesmen">
                                {{salesman.name}} {{salesman.surname}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <br>


    </div>

    <!--services selection-->
    <md-input-container layout="column" layout-align="center center">
        <!--<label layout-align="center center">Services / trade goods</label>-->
        <md-select ng-model="selectedServices" multiple>
            <md-optgroup label="services">
            <md-option ng-value="service" ng-repeat="service in services">
                {{service.name}}; {{service.nettoValue | currency}}
            </md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>

    <p>{{selectedServices}}</p>
    <p>{{formOfPayment}}</p>


    <div layout="row" layout-align="center center">
        <md-button class="btn" ng-click="saveData()">Save data</md-button>
    </div>

    <!--<div class="test-area">
        <md-button class="btn" ng-click="testFun()">test</md-button>
    </div>-->

</div>