<!--in case of problems replace "jumbotron" with "maxWidth"-->
<div layout-align="center center" class="jumbotron">


    <!-- nav buttons -->
    <div class="panel panel-primary">
        <div class="panel-heading">Edit records</div>
        <div class="panel-body" layout="row" layout-align="space-around center">
            <md-button class="md-raised" ng-click="goSalesmen()">
                Salesmen
            </md-button>
            <md-button class="md-raised" ng-click="goContractors()">
                Contractors
            </md-button>
            <md-button class="md-raised" ng-click="goServices()">
                Services
            </md-button>
            <md-button class="md-raised" ng-click="goUpload()">
                Image upload
            </md-button>
        </div>
    </div>

    <!--container div-->
    <div layout="row" layout-align="center center" class="padded panel panel-primary">

        <!--3 borders-->
        <div class="padded flex-display" layout="column">

            <!--payment-->
            <div class="payment border1 panel panel-default" layout="column" ng-cloak layout-align="center center">
                <md-input-container>
                    <label for="formOfPayment">Form of payment</label>
                    <input type="text" id="formOfPayment" ng-model="formOfPayment" md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label for="placeOfexposure">Place of exposure</label>
                    <input type="text" id="placeOfexposure" ng-model="placeOfexposure" md-autofocus>
                </md-input-container>
                <md-container>
                    <input type="text" id="invoiceNumber" placeholder="Invoice number" ng-model="invoiceNumber"
                           md-autofocus>
                </md-container>

            </div>

            <!--selection of contractor & salesman-->
            <div class="md-padding border1 panel panel-default" flex layout="row" layout-align="center" ng-cloack>
                <div layout="column">
                    <div layout="column">
                        <md-input-container>
                            <label>Contractor</label>
                            <md-select ng-model="contractor" md-selected-text="getSelectedC()">
                                <md-optgroup label="contractors">
                                    <md-option ng-value="contractor" ng-repeat="contractor in contractors">
                                        {{contractor.name}} {{contractor.surname}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container>
                            <label>Salesman</label>
                            <md-select ng-model="salesman" md-selected-text="getSelectedS()">
                                <md-optgroup label="salesmen">
                                    <md-option ng-value="salesman" ng-repeat="salesman in salesmen">
                                        {{salesman.name}} {{salesman.surname}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

            </div>


            <!--services selection-->
            <div class="border1 panel panel-default">
                <md-input-container layout="column" layout-align="center center">
                    <!--<label layout-align="center center">Services / trade goods</label>-->
                    <md-select ng-model="selectedServices" multiple>
                        <md-optgroup label="services">
                            <md-option ng-value="service" ng-repeat="service in services">
                                {{service.name}}; {{service.nettoValue | currency}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <!--selected content of invoice-->
        <!--selected contractor & salesman-->
        <div layout="column" layout-align="center center" class="padded"
             ng-show="salesman != null && contractor != null">

            <!--calendars-->
            <div flex layout="row" layout-align="center" style='padding: 40px; margin: 5px;' class="panel panel-info">
                <md-content class="padded">
                    <h4>Date of selling</h4>
                    <md-datepicker ng-model="sellDate" md-placeholder="Enter date"></md-datepicker>
                </md-content>

                <md-content class="padded">
                    <h4>Payment deadline</h4>
                    <md-datepicker ng-model="deadDate" md-placeholder="Enter date"></md-datepicker>
                </md-content>

                <md-content class="padded">
                    <h4>Date of invoice</h4>
                    <md-datepicker ng-model="exposureDate" md-placeholder="Enter date"></md-datepicker>
                </md-content>
            </div>


            <div layout="row">
                <div class="salesman padded border2 panel panel-default">
                    <p>{{salesman.name + " " + salesman.surname}}</p>
                    <p>{{salesman.companyName}}</p>
                    <p>{{salesman.streetName + " " + salesman.homeNo + ", " + salesman.postCode +" " +
                        salesman.city}}</p>
                    <p>Regon: {{salesman.regon}}</p>
                    <p>Nip: {{salesman.nipNo}}</p>
                    <p>Phone: {{salesman.phoneNo}}</p>
                    <p>Bank: {{salesman.bankName + " " + salesman.bankAccNo}}</p>
                </div>
                <div class="contractor padded border2 panel panel-default">
                    <p>{{contractor.name + " " + contractor.surname}}</p>
                    <p>{{contractor.companyName}}</p>
                    <p>{{contractor.streetName + " " + contractor.homeNo + ", " + contractor.postCode +" " +
                        contractor.city}}</p>
                    <p>Nip: {{contractor.nipNo}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--services table-->
    <div layout-align="center center" ng-show="selectedServices.length > 0">
        <table class="table">
            <caption>Selected services:</caption>
            <br>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Netto (per item)</th>
                <th>Vat (%)</th>
                <th>Count</th>
                <th>Brutto (total)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in selectedServices">
                <td>{{ x.name }}</td>
                <td>{{ x.symbol }}</td>
                <td>{{ x.nettoValue | currency}}</td>
                <td>{{ x.vatPercentage }}</td>
                <td class="col-sm-1">
                    <input class="col-sm-12" placeholder="number" type="number" min="1" ng-model="x.count"/>
                </td>
                <td>
                    {{ (x.brutto * x.count) | currency }}
                </td>
            </tr>
            </tbody>
        </table>

        <!--ng-true-value="'yes'" ng-false-value="'no'"-->
        <md-switch ng-model="copyOnMail" aria-label="Switch 1">
            Send copy on mail: {{ copyOnMail }}
        </md-switch>
    </div>


    <!--bottom buttons-->
    <div class="padded" layout="row" layout-align="space-around center">
        <md-button class="btn btn-success" ng-click="saveData()">
            Save data
        </md-button>
        <md-button class="btn btn-success" ng-click="submitInvoice()">
            Submit invoice
        </md-button>
    </div>


    <!--todo flex display-->
    <style type="text/css">
        .border1 {
            padding: 15px;
            border-style: outset;
            border-top-width: 9px;
            margin: 5px;
            -moz-box-shadow: 0 0 2px black;
            -webkit-box-shadow: 0 0 2px black;
            box-shadow: 0 0 2px black;
        }

        .border2 {
            padding: 15px;
            min-height: 450px;
            min-width: 200px;
            margin-left: 20px;
            margin-right: 20px;
            border-style: outset;
            border-top-width: 9px;
            -moz-box-shadow: 0 0 2px black;
            -webkit-box-shadow: 0 0 2px black;
            box-shadow: 0 0 2px black;
        }

        .padded {
            padding: 30px;
        }

        .flex-display {
            display: flex; /* or inline-flex */
        }

        .customWidth {
            max-width: 900px;
        }
    </style>

</div>