<div>
    <!--
        <p>{{rootTest}}</p>
    -->

    <!-- nav buttons -->
    <div layout="row" layout-align="space-around center">
        <md-button class="md-raised" ng-click="goSalesmen()">
            Salesmen
        </md-button>
        <md-button class="md-raised" ng-click="goContractors()">
            Contractors
        </md-button>
        <md-button class="md-raised" ng-click="goServices()">
            Services
        </md-button>
    </div>


    <div flex layout="row" layout-align="center" style='padding: 60px;'>
        <md-content>
            <h4>Date of selling</h4>
            <md-datepicker ng-model="sellDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>

        <md-content>
            <h4>Date of deadline</h4>
            <md-datepicker ng-model="deadDate" md-placeholder="Enter date"></md-datepicker>
        </md-content>

    </div>


    <div class="test-area">
        <md-button ng-click="testFun()">test</md-button>
    </div>

</div>