<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8"/>
    <title>Invoice Writer - registration</title>
</head>
<body>
<h1>Register your account here</h1>

<!--<form method="POST">
    Name: <input type="text" name="firstName" /><br>
    Surname: <input type="text" name="surname" /><br>
    e-mail: <input type="email" name="email" /><br>
    Password: <input type="password" name="password" /><br>
    Retype password: <input type="password" name="repassword" /><br>
    <br>
    <input type="submit" value="Submit">
</form>-->

</body>
</html>